# =========================
# Terraform / OpenTofu
# =========================

# Terraform and OpenTofu working directories
.terraform/
.opentofu/

# Lock files (Terraform & OpenTofu)
.terraform.lock.hcl
.opentofu.lock.hcl

# Terraform/OpenTofu state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files (can contain secrets)
*.tfvars
*.tfvars.json

# Logs or other local debug files
*.log

# =========================
# Terragrunt
# =========================

# Cache directory used by Terragrunt
.terragrunt-cache/

# =========================
# Editor & OS-specific files
# =========================

# macOS
.DS_Store

# Vim/Neovim
*.swp
*.swo

# JetBrains IDEs
.idea/

# VS Code
.vscode/
